/* Variables */
:root {
    --color1: #fefefe; /* blanco */
    --color2: #11101b; /*Negro */
    --color3: #ff0000; /*Rojo */
    --color4: #dc3545; /* Rojo copado */
    --color5: #6C809A; /*celeste */
    --color6: #009154; /*verde*/
}

/* General */
* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


body {
    background-color: var(--color1);
}

.mainCont {
    min-height: 800px;
    margin-bottom: 100px;
}

/* Header / NavBar*/
header {
    width: 100%;
    height: 80px;
    background: var(--color2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.logo img {
    max-width: 50%;
}

.hamburger {
    display: none;
}

.navBar ul {
    display: flex;
}

    .navBar ul li a {
        display: block;
        color: var(--color1);
        font-size: 20px;
        padding: 35px 25px;
        transition: 0.2s;
        margin: 0;
        text-decoration: none;
    }

        .navBar ul li a:hover {
            color: var(--color2);
            background: var(--color1);
        }

        .navBar ul li a.active {
            color: var(--color2);
            background-color: var(--color1);
        }

.btnContainer {
    display: flex;
    align-items: center;
}

.btnLogin {
    display: block;
    color: var(--color1);
    font-size: 20px;
    padding: 25px 25px;
    transition: 0.2s;
    margin: 0 5px;
    text-decoration: none;
}

    .btnLogin:hover {
        background-color: var(--color6);
    }


.btnRegistrarse, .btnComprar {
    display: inline-block;
    background: none;
    border: none;
    color: var(--color1);
    font-size: 20px;
    padding: 25px 25px;
    transition: 0.2s;
    margin: 0 5px;
    text-decoration: none;
}

    .btnRegistrarse:hover {
        background-color: dodgerblue;
    }
.btnComprar {
    background-color: dodgerblue;
}
.btnComprar:hover {
    background-color: var(--color6) ;
}

    .btnSalir, .btnVaciar {
        display: inline-block;
        background: none;
        border: none;
        color: var(--color1);
        font-size: 20px;
        padding: 25px 25px;
        margin: 0 5px;
        cursor: pointer;
        text-decoration: none;
        transition: 0.2s;
    }

    .btnSalir:hover {
        background-color: var(--color4);
    }
    .btnVaciar {
        background-color: var(--color4);
    }

        .btnVaciar:hover {
            background-color: var(--color3);
        }

.cartCounter {
    background-color: var(--color6);
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    border-radius:50%;
    color: #fff;
    width: 20px;
    height: 20px;
}

.btnCart {
    color: #ff6202;
    cursor: pointer;
    font-size: 32px;
    margin-left: 2rem;
    transition: 0.5s;
}
    .btnCart:hover {
        color: var(--color6);
    }

.img-Cart{
    width: 100px;

}

.wildCart{
    display:flex;
    justify-content:center;
}
    .wildCart img {
        width: 50%;
    }
@media only screen and (max-width: 1320px) {
    header {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 1100px) {
    header {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 768px) {
    .hamburger {
        display: block;
        cursor: pointer;
        font-size: 24px;
        color: var(--color1);
        margin: 6px 0;
    }

    .navBar {
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: var(--color2);
        transition: 0.2s;
        overflow: hidden;
    }

        .navBar.active {
            height: 450px;
        }

        .navBar ul {
            display: block;
            width: fit-content;
            margin: 80px auto 0 auto;
            text-align: center;
            transition: 0.5s;
            opacity: 0;
        }

            .navBar ul li a {
                margin-bottom: 12px;
                padding: 12px 25px;
            }

        .navBar.active ul {
            opacity: 1;
        }

    .btnContainer {
        display: flex;
        justify-content: center;
        gap: 12px;
    }

    .btnLogin {
        background-color: var(--color6);
        padding: 12px;
        text-align: center;
    }

    .btnRegistrarse {
        background-color: dodgerblue;
        padding: 12px;
        text-align: center;
    }
}

/* Login */

.formContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    margin: 0;
}

.loginContainer {
    width: 300px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.boxShadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Perfil */

.profileContainer {
    border-radius: 10px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    height: 650px;
    padding: 30px;
}

.formProfileContainer {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.formImageContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
}

.generalContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
    margin: 0;
}

/* Default */

.bntSearch {
    color: var(--color2);
    font-size: 18px;
    margin-top: 6px;
    margin-left: 10px;
}


.containerFilters {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 250px;
}

.containerItems {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


/* Tarjetita*/
.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

    .cardContainer:hover {
        transform: scale(1.03);
    }

    .cardContainer img {
        max-height: 200px;
        max-width: 200px;
        object-fit: contain;
        padding-top: 20px;
    }

.cardContent {
    padding: 15px;
}

.cardTitle {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    max-width: 100px;
}

.cardDescription {
    color: #555;
    margin-bottom: 15px;
}

.btnCard {
    background-color: var(--color3);
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    display: inline-block;
}


/* Detalles del articulo*/

.containerArticle {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.articleDetails {
    display: flex;
    gap: 20px;
}

.articleContent {
    display: flex;
    flex: 1 1 50%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    padding: 25px 0;
}

.articleImage img {
    max-width: 400px;
}

.articleName {
    font-size: 16px;
}

.articleContent h3 {
    font-weight: bold;
}

.articleDescription {
    font-size: 18px;
}

.articlePrice {
    font-size: 32px;
}

.btnFav {
    color: red;
    font-size: 20px;
    transition: transform 0.1s;
}

    .btnFav:hover {
        transform: scale(1.2);
    }

.btnFavChecked {
    color: red;
    font-size: 22px;
}

    .btnFavChecked:hover {
        color: darkred;
    }

.imgForm {
    margin-top: 20px;
    max-width: 400px;
}


/*    Favoritos    */

.favCard {
    display: flex;
}

.favImg img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.btnDelete {
    font-size: 24px;
    color: var(--color2);
}

.fa-exclamation-circle {
    font-size: 36px;
    color: var(--color2);
}

.card-body a {
    text-decoration:none;
    color: var(--color2);
}

/* Footer */
footer {
    background-color: #6C809A;
    color: var(--color1);
    padding: 30px;
}

    footer a {
        text-decoration: none;
        color: var(--color1);
    }

    footer p {
        margin: 2px;
    }

.iconFooter {
    color: var(--color1);
    text-decoration: none;
    font-size: 20px;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #333; 
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite; /* Animación */
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.tooltipImg {
    width: 140px;
}

.custom-tooltip {
    --bs-tooltip-bg: #fefefe;
}